@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{
        background-color: rgba(117, 19, 19, 0.717);
       font-family: "Merriweather";
}

.menu.logo { 
       
       display: flex;
       align-items: flex-start;
}

 
header {
        background-color: #f2f2f2;
        text-align: center;
      padding: 25px 0;
      }
nav a{
display: inline-block;
text-decoration: none;
color: #696969;
margin: 0 30px;
padding: 5px 15px;
border-radius: 30px;
}
nav a:hover{
        background-color: #000;
        color: #fff;
}


.encabezado-img{
        background-image: url("img/harrypotter.webp");
        height: 500px;
        background-size: cover;
       display: flex;
       flex-direction: column;
       justify-content: center; 
       align-items: center;
       color: #fff;
}
 
.Title {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 50px;
        text-transform: unset;
        color:#fff;
        
 }
  p {
        margin-bottom: 40px ;
        font-size: 18px;
        color:#fff;
        padding: 0 100px;
 }

 .btn {
        display: inline-block;
        margin-top: 15px;
        padding:10px 40px ;
        border: 2px solid #cfa92e;
        color: rgb(104, 31, 18);
        text-decoration: none;
        background: #cfa92e;

 }
 .btn:hover {
              background: none;
 }
  h2 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 50px;
        text-transform:unset;
        color:#fff;
  }

 .content{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 }
 
 .sau{
        padding: 50px 0;
        
 }
 .box-container{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        text-align: center;

 }
        .box-container .box {
                height: 450px;
                width: 600px;
                background: #720b0b;
                text-align: center;
                border-radius: 20px;
                box-shadow: 0 5px 5px rgba (0, 0, 0, .3);
                margin: 20px;
}
 .box-container .box i {
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align:center;
        border-radius: 50%;
        background: #cfa92e;
        font-size: 25px;
        margin: 10px 0;
 }
  .box-container .box h3 {
        font-size: 25px;
        color: #cfa92e;
  }

  .box-container .box p {
        padding: 0 15px;
        font-size: 16px;
}


.price {
        background: url(img/harrypotter.webp) no-repeat center;
        background-size: contain;
        background-attachment:fixed;
        text-align: center;
        
}
.form{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
}

.form input{
       margin-top: 10px;
       border: 1px solid black;
       width: 250px;
       height: 50px;
       border-radius: 25px;
       padding: 10px;
}

.form textarea{
       width: 250px;
       margin-top: 10px;
       border: 1px solid black;
       border-radius: 25px;
       padding: 10px;
}

.form .input_button{
       background-color: #cfa92e;
       color: rgb(111, 16, 16);
       width: 150px;
       transition: all 0.5s;
 }      

 .form .input_button:hover{
       transform: scale(1.1);
       transition: all 0.5s;
       background-color: #cfa92e;
       box-shadow: 0px 0px 10px 0 rgb(111, 16, 16);
 }

#arriba{
       width: 50px;
       height: 50px;
       border-radius: 80%;
       border: 1px solid rgb(111, 16, 16) ;
       background-color: #cfa92e;
       position: fixed;
       left: 85%;
       bottom: 50px;
       cursor:pointer;
       transition: all ,3s ease;
       transform: scale(0);
}
#arriba:hover{
       opacity: .70;
       transform: scale(1.1);
}
.bi-chevron-double-up{
       font-size: 15px;
}

 footer{
        background-color: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
 }
  
 @media screen and (max-width: 768px) {
        p {
                padding:0 50px;
       }

        .title{
                margin-bottom: 0px;
                font-size: 20px;
        }
        
        .sau {
             height: 80vh;
             padding: 50 px 0;
} 
       .about {
             height: 80vh;
             padding: 50 px 0;
       }
       .footer-section {
             display:flex;
             flex-direction: column;
             display: none;
       }
       .navbar {
             display: none;
       }

}

